[submodule "primate-arch-gen"]
	path = primate-arch-gen
	url = https://github.com/FAST-Research-Group/primate-arch-gen.git
	branch = primate-dev
[submodule "primate-uarch"]
	path = primate-uarch
	url = https://github.com/FAST-Research-Group/primate-uarch.git
	branch = primate-manual-p4
[submodule "primate-compiler"]
	path = primate-compiler
	url = https://github.com/FAST-Research-Group/primate-arch-gen.git
	branch = primate
