[submodule "primate-arch-gen"]
	path = primate-arch-gen
	url = git@github.com:FAST-Research-Group/primate-arch-gen.git
	branch = primate-dev
[submodule "primate-uarch"]
	path = primate-uarch
	url = git@github.com:FAST-Research-Group/primate-uarch.git
	branch = primate-manual-p4
	ignore = dirty
[submodule "primate-compiler"]
	path = primate-compiler
	url = git@github.com:FAST-Research-Group/primate-arch-gen.git
	branch = primate
